.inputs-section {
  position: absolute;
  top: 0;
  left: 40%;
  background-color: #0b1120;
  padding: 20px;
  border: 1px solid #1f2937;
  width: 30%;
  border-radius: 10px;
}
.inputs-section form {
  display: flex;
  flex-direction: column;
}
.inputs-section input {
  background-color: transparent;
  border: 1px solid #9ca3af;
  border-radius: 20px;
  margin-bottom: 20px;
  color: #9ca3af;
  padding: 8px;
}
.inputs-section button {
  border: 1px solid #9ca3af;
  background-color: transparent;
  width: 30%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.inputs-section button:hover {
  box-shadow: none;
  background-color: #3882f6;
  border: transparent;
}
