.my-connections-section {
  background-color: #111827;
  border: #1f2937;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 60%;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
  color: #e5e7eb;
}
.my-connections-section h3 {
  padding: 10px;
}
.all-connection {
  border: #1f2937;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.my-connection-items {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.my-connection-items img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.my-connection-name {
  line-height: 8px;
}
.my-connection-name .name {
  font-size: 1.5em;
}
.my-connection-name .username {
  margin-left: 10px;
}

.send-message {
  border: 1px solid #efe7eb;
  color: #efe7eb;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px;
  transition: background 0.3s ease-in-out;
}
.send-message:hover {
  background-color: #3882f6;
  border: transparent;
  box-shadow: none;
}
@media (max-width: 768px) {
  .my-connections-section {
    width: 80%;

    margin-bottom: 20px;
    padding: 30px;
  }

  .my-connection-items img {
    width: 50px;
    height: 50px;
  }
  .my-connection-name .name {
    font-size: 1em;
  }
}
@media (max-width: 468px) {
  .my-connections-section {
    width: 100%;

    padding: 15px;
  }

  .my-connection-items img {
    width: 50px;
    height: 50px;
  }
  .my-connection-name .name {
    font-size: 0.95em;
  }
}
