.navbar {
  background-color: #020617;
  border-bottom: 1px solid #1f2937;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e5e7eb;
  width: 100%;
  font-weight: 900;
}
.nav-links,
.nav-actions {
  display: flex;
  gap: 50px;
  font-size: 1.5em;
}
.profile {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: #020617;
  border: 1px solid #1f2937;
  top: 60px;
  border-radius: 8px;
  min-width: 130px;
  overflow: hidden;

  /* hidden by default */
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  padding: 10px;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  text-align: center;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown p a {
  text-decoration: none;
  font-weight: 400;
}

.nav-actions {
  margin-right: 50px;
}

/* Tablet */
@media (max-width: 1024px) {
  .nav-links,
  .nav-actions {
    display: flex;
    gap: 30px;
    font-size: 1.2em;
  }
  .nav-actions {
    margin-right: 30px;
  }
}

/*Big Mobile */
@media (max-width: 768px) {
  .nav-links,
  .nav-actions {
    display: flex;
    gap: 20px;
    font-size: 1.1em;
  }
  .nav-actions {
    margin-right: 10px;
  }
}
/* Mobile */
@media (max-width: 480px) {
  .nav-links,
  .nav-actions {
    display: flex;
    gap: 10px;
    font-size: 1em;
  }
  .nav-actions {
    margin-right: 10px;
  }
}
